.template-container {
	width: 100px;
	height: 30px;
	position: absolute;
	top: 0%;
	left: 0%;
}

.svg-container {
	position: absolute;
	top: 0%;
	/* border: 1px solid white; */
	z-index: 2;
	/* overflow: hidden; */
}

.svg-container > path {
	position: relative;
}

.svg-icon > path {
	stroke: white;
}

.cross-path {
	stroke: url("#roseCrossGradient");
}

.x-path {
	stroke: url("#roseXGradient");
}
