.coords-field {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100dvw;
	height: 100%;
	overflow: hidden;
}

.coords-field > label {
	display: flex;
	flex-direction: row;

	width: 50dvw;

	line-height: 1rem;
	/* align-items: center; */
	justify-content: center;
	position: relative;
}

.lat-label {
	align-items: flex-start;
	margin: 2% 0% 0% 0%;
	z-index: 3;
}

.lon-label {
	align-items: flex-end;
	margin: 0% 0% 2% 0%;
	z-index: 3;
}
.coords-input {
	width: 40dvw;
	height: 5dvh;
	background: linear-gradient(rgba(60, 120, 189, 1), rgba(61, 141, 223, 1));
	color: rgba(230, 230, 230, 0.9);
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	padding: 0% 4% 0% 4%;
	border-top: 3px solid rgb(188 229 245 / 10%);
	border-left: 3px solid rgb(188 229 245 / 10%);
	border-bottom: 3px solid rgb(188 229 245 / 10%);
	border-right: 3px solid transparent;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
		rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
		rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
		rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
		rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
	z-index: 1;
}
.coords-input::placeholder {
	color: rgba(230, 230, 230, 0.9);
	font-style: italic;
	font-weight: 300;
	padding-left: 5%;
}

.lat-degrees-label {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0px solid transparent;
}

.lat-degrees-input {
	display: grid;
	align-items: center;
	width: fit-content;
	padding: 0%;
	margin: 0% 2% 0% 0%;
	text-indent: 0%;
	padding-block: 0px;
	padding-inline: 0px;
	text-align: right;
	vertical-align: middle;
	line-height: 1rem;
	color: white;
	font-weight: 600;
	background: transparent;
	border: 0px solid transparent;
}

.lat-degrees-input:active {
	border: 0px solid transparent;
}

.lat-degrees-input:focus {
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
	border-left: 0px solid transparent;
	/* border-bottom: 1px solid white; */
	outline: none;
	text-decoration: underline;
	text-decoration-color: rgba(230, 230, 230, 0.8);
	text-decoration-thickness: 1.5px;
}

.lat-degrees-input::placeholder {
	color: rgba(230, 230, 230, 0.8);
	font-weight: 400;
}

.lat-minutes-label {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0px solid transparent;
}
.lat-minutes-input {
	display: grid;
	align-items: center;
	width: fit-content;
	padding: 0%;
	margin: 0% 2% 0% 0%;
	text-indent: 0%;
	padding-block: 0px;
	padding-inline: 0px;
	text-align: right;
	vertical-align: middle;
	line-height: 1rem;
	color: white;
	font-weight: 600;
	background: transparent;
	border: 0px solid transparent;
}

.lat-minutes-input:active {
	border: 0px solid transparent;
}

.lat-minutes-input:focus {
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
	border-left: 0px solid transparent;
	/* border-bottom: 1px solid white; */
	outline: none;
	text-decoration: underline;
	text-decoration-color: rgba(230, 230, 230, 0.8);
	text-decoration-thickness: 1.5px;
}

.lat-minutes-input::placeholder {
	color: rgba(230, 230, 230, 0.8);
	font-weight: 400;
}

.lat-seconds-label {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0px solid transparent;
}
.lat-seconds-input {
	display: grid;
	align-items: center;
	width: fit-content;
	padding: 0%;
	margin: 0% 2% 0% 0%;
	text-indent: 0%;
	padding-block: 0px;
	padding-inline: 0px;
	text-align: right;
	vertical-align: middle;
	line-height: 1rem;
	color: white;
	font-weight: 600;
	background: transparent;
	border: 0px solid transparent;
}

.lat-seconds-input:active {
	border: 0px solid transparent;
}

.lat-seconds-input:focus {
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
	border-left: 0px solid transparent;
	/* border-bottom: 1px solid white; */
	outline: none;
	text-decoration: underline;
	text-decoration-color: rgba(230, 230, 230, 0.8);
	text-decoration-thickness: 1.5px;
}

.lat-seconds-input::placeholder {
	color: rgba(230, 230, 230, 0.8);
	font-weight: 400;
}

.direction-label {
}
.direction-input {
}

.lat-dir-select {
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	color: white;
	height: 100%;
	font-weight: 600;
	background: transparent;
	border: 0px solid transparent;
}

.lon-dir-select {
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	color: white;
	height: 100%;
	font-weight: 600;
	background: transparent;
	border: 0px solid transparent;
}

.lat-dir-select:focus {
	outline: none;
	text-decoration: underline;
	text-decoration-thickness: 1.5px;
}
.lon-dir-select:focus {
	outline: none;
	text-decoration: underline;
	text-decoration-thickness: 1.5px;
}

.lon-degrees-label {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0px solid transparent;
}

.lon-degrees-input {
	display: grid;
	align-items: center;
	width: fit-content;
	padding: 0%;
	margin: 0% 2% 0% 0%;
	text-indent: 0%;
	padding-block: 0px;
	padding-inline: 0px;
	text-align: right;
	vertical-align: middle;
	line-height: 1rem;
	color: white;
	font-weight: 600;
	background: transparent;
	border: 0px solid transparent;
}

.lon-degrees-input:active {
	border: 0px solid transparent;
}

.lon-degrees-input:focus {
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
	border-left: 0px solid transparent;
	/* border-bottom: 1px solid white; */
	outline: none;
	text-decoration: underline;
	text-decoration-color: rgba(230, 230, 230, 0.8);
	text-decoration-thickness: 1.5px;
}

.lon-degrees-input::placeholder {
	color: rgba(230, 230, 230, 0.8);
	font-weight: 400;
}

.lon-minutes-label {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0px solid transparent;
}
.lon-minutes-input {
	display: grid;
	align-items: center;
	width: fit-content;
	padding: 0%;
	margin: 0% 2% 0% 0%;
	text-indent: 0%;
	padding-block: 0px;
	padding-inline: 0px;
	text-align: right;
	vertical-align: middle;
	line-height: 1rem;
	color: white;
	font-weight: 600;
	background: transparent;
	border: 0px solid transparent;
}

.lon-minutes-input:active {
	border: 0px solid transparent;
}

.lon-minutes-input:focus {
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
	border-left: 0px solid transparent;
	/* border-bottom: 1px solid white; */
	outline: none;
	text-decoration: underline;
	text-decoration-color: rgba(230, 230, 230, 0.8);
	text-decoration-thickness: 1.5px;
}

.lon-minutes-input::placeholder {
	color: rgba(230, 230, 230, 0.8);
	font-weight: 400;
}

.lon-seconds-label {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 0px solid transparent;
}
.lon-seconds-input {
	display: grid;
	align-items: center;
	width: fit-content;
	padding: 0%;
	margin: 0% 2% 0% 0%;
	text-indent: 0%;
	padding-block: 0px;
	padding-inline: 0px;
	text-align: right;
	vertical-align: middle;
	line-height: 1rem;
	color: white;
	font-weight: 600;
	background: transparent;
	border: 0px solid transparent;
}

.lon-seconds-input:active {
	border: 0px solid transparent;
}

.lon-seconds-input:focus {
	border-top: 0px solid transparent;
	border-right: 0px solid transparent;
	border-left: 0px solid transparent;
	/* border-bottom: 1px solid white; */
	outline: none;
	text-decoration: underline;
	text-decoration-color: rgba(230, 230, 230, 0.8);
	text-decoration-thickness: 1.5px;
}

.lon-seconds-input::placeholder {
	color: rgba(230, 230, 230, 0.8);
	font-weight: 400;
}
