.container {
	position: absolute;
	inset: 0;
	z-index: 0;

	display: grid;
	place-items: center;

	width: 100dvw;
	height: 100dvh;

	overflow: hidden;
}

/* Mobile portrait */
@media only screen and (max-width: 640px) and (orientation: portrait) {
	.container {
		width: 100dvw;
		height: 100dvh;
	}
}

/* Small landscape */
@media only screen and (min-height: 280px) and (max-height: 480px) and (orientation: landscape) {
	.container {
		width: 100dvw;
		height: 100dvh;
	}
}

/* Tablet / small desktop landscape */
@media only screen and (min-width: 900px) and (max-width: 1199px) and (orientation: landscape) {
	.container {
		width: 100dvw;
		height: 100dvh;
	}
}

/* Desktop */
@media only screen and (min-width: 1200px) and (min-height: 481px) {
	.container {
		width: 100dvw;
		height: 100dvh;
	}
}

/* .container {
	width: 100dvw;
	height: 85dvh;

	display: grid;
	place-items: center;
	position: absolute;
	z-index: 0;
} */
